$bg-primary-dark: #252525;
$bg-primary-violet: #3c0080;
$bg-primary-violet-hover: #5b14ac;
$bg-primary-violet-light: #f4f0fa;
$bg-primary-yellow: #ffbb00;
$bg-primary-yellow-hover: #ffa600;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);

$text-color: white;
$text-dark-color: #575757;
$text-black-color: #2c2922;
$text-violet-hover-color: #b864da;

$bg-error: #ffeff1;
$text-error: #ca3e51;
