$bg-primary-dark: #3f3f3f;
$bg-primary-light: #d8d2cd;
$bg-primary-orange: #8a2b06;
$bg-primary-orange-light: #b94517;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);

$brown-dark: #4d1601;
$brown-dark-hover: #2c0d00;

$text-color: white;
$text-dark-orange-color: #363636;
$text-orange-color: #ad5502;
$text-hover-color: #f3cafb;

$bg-error: #ffeff1;
$text-error: #ca3e51;
