@use "../abstracts/variables" as *;

.profile {
     width: 90%;
     max-width: 40rem;
     margin: 5rem auto;
     padding: 1rem;

     border-radius: 8px;
     box-shadow: 0 1px 8px $border-dark-opace;

     background-color: $bg-primary-violet-light;
     color: $text-dark-color;
     text-align: center;
}
